// defining values
$screen-sm: 375px;
$screen-md: 768px;
$screen-lg: 1024px;

// primary colors
$dark_violet: hsl(256, 26%, 20%);
$grayish_blue: hsl(216, 30%, 68%);

// neutral
$very_dark_violet: hsl(270, 9%, 17%);
$dark_grayish_violet: hsl(273, 4%, 51%);
$very_light_gray: hsl(0, 0%, 98%);

$margin_top_bot: 0.5em;
